doctype html 
html 
    head 
        title Noteras: Mis tareas

        // Page icon.
        link(rel='icon', href='/images/noteras.png')

        // Bootstrap 5
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")

        // FA Icons
        script(src="https://kit.fontawesome.com/802c6138f5.js", crossorigin="anonymous")

        // Checkbox CSS.
        link(rel="stylesheet", href="/stylesheets/checkbox.css")

        include ../navbar.pug
    body
        h3.text-center
            | Bienvenido: 
            small.text-muted
                | #{nombreUser}
        .card.w-50.mx-auto.mt-5
            .card-body
                h3.card-title.text-center.mb-2
                    | Mis tareas

            form(method='POST' autocomplete='off' action='tareas/insertaTarea').mb-3
                .row.justify-content-center
                    .col.col-7
                        input.form-control(type='text', name='tarea' placeholder='Agregar tarea', required='true')
                    .col.col-auto
                        button.btn.btn-primary.ms-auto(type='submit')
                            | Agregar

            .div.list-wrapper
                table.table 
                    thead.text-center
                        tr
                            th(scope="col")
                                | Tarea
                            th(scope="col")
                                | Acción
                    tbody
                        if(tareas.length)
                            - var n = 0;
                            each tarea in tareas
                                - n++;
                                tr
                                    td
                                        if(tarea.completada)
                                            form(method="POST" action=`/tareas/actualizar/${tarea._id}`)
                                                input.form-check-input(name="checked" checked='' type="checkbox" value="false" onChange="this.form.submit()")
                                                label.form-check-label().mx-2
                                                    | #{tarea.tarea}
                                        else
                                            form(method="POST" action=`/tareas/actualizar/${tarea._id}`)
                                                input.form-check-input(name="checked" type="checkbox" value="true" onChange="this.form.submit()")
                                                label.form-check-label().mx-2
                                                    | #{tarea.tarea}
                                    td.text-center.align-middle
                                        .btn-group
                                            //button trigger modal.
                                            .div
                                                button.btn.btn-secondary(type='button' data-bs-toggle='modal' data-bs-target='#task-' + n)
                                                    | Editar

                                            // Modal para editar.
                                            nav.modal.fade(tabindex='-1' aria-hidden='true' id='task-' + n)
                                                .modal-dialog.modal-dialog-centered
                                                    .modal-content
                                                        form(method='POST' autocomplete='off' action=`tareas/editar/${tarea._id}`).mb-3
                                                            .modal-header
                                                                h5#exampleModalLabel.modal-title Editar tarea
                                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                            .modal-body                                    
                                                                .input-group.flex-nowrap
                                                                    span#addon-wrapping.input-group-text Tarea
                                                                    input.form-control(type='text' name='tarea' value=`${tarea.tarea}` aria-describedby='addon-wrapping' required='' autofocus='')
                                                            .modal-footer
                                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
                                                                button.btn.btn-primary(type='submit') Guardar cambios

                                            form(method='POST', action=`tareas/borrar/${tarea._id}`, type='submit').mx-3
                                                button.btn.btn-danger(onclick="return confirm('¿Estás seguro de borrar esta tarea? Esta acción no se puede deshacer.');")
                                                    | Borrar
                                
                        else
                            h4.card-subtitle.text-center.my-4
                                | ¡Aún no tienes tareas! Intenta agregando una arriba. 

    include ../footer.pug

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
